.wrapper {
  background-image: url('http://longwallpapers.com/Desktop-Wallpaper/kingdom-hearts-wallpaper-free-For-Desktop-Wallpaper.jpg');
  height: 100%;
  justify-content: space-around;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  overflow: auto;
  padding-bottom: 50px;
}

