nav {
    width: 100%;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
    
  }
  #score {
    font-family: serif;
}
#highScore {
    font-family: serif;
  }

  #rightorwrong {
    font-family: serif;
  }
nav li {
    padding: 26px 0;
    width: 25%;
    display: inline-block;
    text-align: center;
  }
  
  ul {
    display: flex;
    align-items: center;
  }
  
  a {
    color: #18204b;
  }
  
 
  
